
<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center">
    <h1>PERSONAJES</h1>

    <!--Botón para añadir nuevo personaej que muestra el formulario -->
    <button (click)="mostrarFormulario()" class="btn btn-success">
      Añadir Nuevo Personaje
    </button>
  </div>
  
  <hr>
<!-- Modal para el formulario de añadir/editar -->
  <div class="mi-modal-overlay" *ngIf="mostrarModal">
    <div class="mi-modal-content">
      <app-item-form 
        (cerrar)="cerrarFormulario()">
      </app-item-form>
    </div>
  </div>

</div>